@page
@model MegaDeskWebApp.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-5">List of Desk Quotes</h1>

<form class="w-100">
    <p>
        Customer: <input type="text text-md-left" class="w-25" asp-for="SearchCustomer" />
        <input class="btn btn-info rounded-pill" type="submit" value="Filter" />
        <a class="btn btn-primary w-25 pull-right"  style="float: right; " asp-page="Create">Create New</a>
    </p>
</form>

<table class="table table-bordered">
    <thead class="table table-dark">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].rushDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].TotalQuote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuote)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Edit"><i class="fas fa-pen text-info"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID" data-toggle="tooltip" title="View Details"><i class="fas fa-pager text-success"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" data-toggle="tooltip" title="Delete"><i class="fas fa-trash text-danger"></i></a> |
            </td>
        </tr>
}
    </tbody>
</table>
